node_modules/
dist/
data.db
data.db-wal
data.db-shm
data.sqlite
data.sqlite-wal
data.sqlite-shm
uploads/avatars/*
uploads/banners/*
uploads/links/*
!uploads/avatars/.gitkeep
!uploads/banners/.gitkeep
!uploads/links/.gitkeep
.env
.env.local
.vercel/
*.log
